---
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<!-- This is a comment
version 1.2
-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        
  </head>

<body>
    {% include navbar.html %}

    {% include profile.html %}

    {% include projects.html %}

    {% include experience.html %}

    {% include education.html %}
    
    <p> testing now </p>

    {% include footer.html %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>

</html>
