<div class="profile">
    <div class="profile-picture">
        <img src="./assets/img/profile.png">
    </div>
    <h1>{{ site.title }}</h1>
    <div id="about" class="about">
        <h2>About Me</h2>
    </div>
    <div class="about-countent">
        <p>
            I am currently in my first year of a Master's degree in computer science at Northeastern University.

Previously, after completion of postgraduate year-1 residency, I decided to expand my knowledge in public health and researched how society influences sexual minority health. I extracted and analyzed Youth Risk Behavior Surveillance data by coding in SAS and R, and that was when I began to discover my passion for computer science.

In 2020, I joined the ALIGN program at Northeastern. Since then, I have gained fundamental knowledge and technical skills in programming. I am always eager to take up challenges and enjoy innovative thinking for problem-solving, which is powered by my ability to learn new skills. With my previous experience, I have been trained to plan strategically and logically. I believe the skills I developed in computer science, along with my clinical and public health experience, will enable me to bring different perspectives into the tech world.

My current goal is to gain more real-world experience through co-ops/internships. In the future, I hope to contribute to people's health through technology.

        </p>
    </div>
</div>