.profile {
    background-color: #2b343c !important;
    text-align: center;
    min-height: 470px;
    padding: 80px;
    margin-bottom: 50px;
    h1 {
        font-size: 5.0rem;
        font-weight: 700;
        padding-bottom: 30px;
        color: white;
    }
    
    img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
    }
    
    .profile-picture {
        margin-bottom: 30px;
        height: 200px;
    }

    .about h2 {
        font-size: 3.0rem;
        padding-top: 80px;
        margin-top: -60px;
        color: #a5cee6;
        margin-bottom: 20px !important;
    }

    .about-countent p {
        color: #fff6e9;
        font-size: 2.0rem;
        width: 80%;
        line-height: 200%;
        display: inline-block;
        letter-spacing: 0.15rem !important;
        margin-bottom: 26px !important;
    }
}

@media (max-width: 770px) {
    .profile {
        h1 {
            font-size: 3.0rem;
            font-weight: 700;
        }

        .about h2 {
            font-size: 2.3rem;
            padding-top: 80px;
            margin-top: -60px;
            color: #a5cee6;
            margin-bottom: 20px !important;
        }
    
        .about-countent p {
            color: #fff6e9;
            font-size: 1.7rem;
            width: 90%;
            line-height: 210%;
            display: inline-block;
            letter-spacing: 0.15rem !important;
            margin-bottom: 26px !important;
        }
    }    
  }

  @media (max-width: 430px) {
    .profile {
        h1 {
            font-size: 2.3rem;
            font-weight: 700;
        }

        .about h2 {
            font-size: 1.9rem;
            padding-top: 80px;
            margin-top: -60px;
            color: #a5cee6;
            margin-bottom: 20px !important;
        }
    
        .about-countent p {
            color: #fff6e9;
            font-size: 1.5rem;
            width: 100%;
            line-height: 210%;
            display: inline-block;
            letter-spacing: 0.15rem !important;
            margin-bottom: 26px !important;
        }
    }    
  }